{% extends 'base.html' %}

{% block body %}
<h4>Indian Institute of Technology, Kanpur</h4>
<h4>
    Application for Grant of LTC
</h4>

<form method="POST" action="/application" >
    {% csrf_token %}

<table>
    <tr>
        <td>
            Block year
        </td>
        <td>
            <div class="form-group">
                <input type="number" id="block_yr" name="block_yr">
            </div>
        </td>
        <td>
            P.F. No.
        </td>
        <td>
            <div class="form-group">
                <input type="number" id="joining" name="joining">
            </div>
        </td>
    </tr>
</table>
<br>
<div class="form-group">
    <label for="Basic Pay Rs.">Basic Pay Rs.</label>
    <input type="number" id="basic_pay" name="basic_pay">
</div>
<br>
<table>
    <tr>
        <td>
            1.
        </td>
        <td>
            Name
        </td>
        <td>
            <div class="form-group">
                <input type="text" id="Name" name="Name">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            2.
        </td>
        <td>
            Designation
        </td>
        <td>
            <div class="form-group">
                <input type="text" id="Designation" name="Designation">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            3.
        </td>
        <td>
            Department/Section
        </td>
        <td>
            <div class="form-group">
                <input type="text" id="section" name="section">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            4.
        </td>
        <td>
            (a) Whether leave is required for availing L.T.C ?
        </td>
        <td>
            <div class="form-group">
                <input type="text" id="avail" name="avail" placeholder="Yes/No">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            
        </td>
        <td>
            (b)(i) If so, duration of leave applied for
        </td>
        <td>
            <div class="form-group">
                <input type="number" id="duration" name="duration" placeholder="duration">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            
        </td>
        <td>
            (b)(ii) Date of departure of family, if not availing for himself
        </td>
        <td>
            <div class="form-group">
                <input type="number" id="departure" name="departure" placeholder="date of departure">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            
        </td>
        <td>
            (c) Nature of leave
        </td>
        <td>
            <div class="form-group">
                <input type="text" id="nature" name="nature" placeholder="nature">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            
        </td>
        <td>
            (d) Purpose
        </td>
        <td>
            <div class="form-group">
                <input type="text" id="Purpose" name="Purpose" placeholder="Purpose">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            5.
        </td>
        <td>
            (i) Whether L.T.C is applied for going to home town or elsewhere?
        </td>
        <td>
            <div class="form-group">
                <input type="text" id="place" name="place" placeholder="Home town/Elsewhere">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            
        </td>
        <td>
            (ii) The place of visit
        </td>
        <td>
            <div class="form-group">
                <input type="text" id="place1" name="place1" placeholder="place of visit">
            </div>
        </td>
    </tr>
    <tr>
        <td>
           6. 
        </td>
        <td>
            Address during leave
        </td>
        <td>
            <div class="form-group">
                <input type="text" id="address" name="address" placeholder="address">
            </div>
        </td>
    </tr>
    <tr>
        <td>
           7. 
        </td>
        <td>
            Mode
        </td>
        <td>
            <div class="form-group">
                <input type="text" id="mode" name="mode" placeholder="Mode: Rail/Road/Air">
            </div>
        </td>
    </tr>
    <tr>
        <td>
           8. 
        </td>
        <td>
            Details of family members who will avail L.T.C
        </td>
        
    </tr>
    <tr>
        <th>
            
        </th>
        <th>
            
        </th>
        <th>
            Full Name
        </th>
        <th>
            Age
        </th>
    </tr>
    <tr>
        <td>
            
        </td>
        <td>
            1.
        </td>
        <td>
            <div class="form-group">
                <input type="name" id="Name1" name="Name1" >
            </div>
        </td>
        <td>
            <div class="form-group">
                <input type="number" id="Age1" name="Age1" >
            </div>
        </td>
    </tr>
    <tr>
        <td>
            
        </td>
        <td>
            2.
        </td>
        <td>
            <div class="form-group">
                <input type="name" id="Name2" name="Name2" >
            </div>
        </td>
        <td>
            <div class="form-group">
                <input type="number" id="Age2" name="Age2" >
            </div>
        </td>
    </tr>
    <tr>
        <td>
            
        </td>
        <td>
            3.
        </td>
        <td>
            <div class="form-group">
                <input type="name" id="Name3" name="Name3" >
            </div>
        </td>
        <td>
            <div class="form-group">
                <input type="number" id="Age3" name="Age3" >
            </div>
        </td>
    </tr>
</table>
<br>
<span>
    9.
</span>
<span><strong>
     Amount of advance required 
</strong></span>
<span>
    Rs.
    <div class="form-group">
        <input type="number" id="advance" name="advance" >
    </div>
</span>


<br>
<button type="submit">Submit</button>
</form>
{% endblock body %}
