{% extends 'base.html' %}

{% block body %} 
<h4>Indian Institute of Technology, Kanpur</h4>

<h4>Travelling Allowance Bill</h4>
<br>
<form method="POST" action="/form" >
{% csrf_token %}
<table>
    <tr>
        <td>
            <div class="form-group"> 
                <label for="institute">institute</label>
                <input type="text" id="institute" name="institute" placeholder="Enter institute name">
            </div>
        </td>
        <td>
            <div class="form-group">
                <label for="project_number">project_number</label>
                <input type="number" id="project_number" name="project_number" placeholder="Enter project_number">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Enter your name">
            </div>
        </td>
        <td>
            <div class="form-group">
                <label for="number">roll_number</label>
                <input type="number" id="roll_number" name="roll_number" placeholder="Enter your roll_number">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="form-group">
                <label for="designation">designation</label>
                <input type="text" id="designation" name="designation" placeholder="designation">
            </div>
        </td>
        <td>
            <div class="form-group">
                <label for="department">department</label>
                <input type="text" id="department" name="department" placeholder="Enter your department name">
            </div> 
        </td>
    </tr>
    <tr>
        <td>
            <div class="form-group">
                <label for="pay_band">pay_band</label>
                <input type="number" id="pay_band" name="pay_band" placeholder="pay_band">
            </div>
        </td>
        <td>
            <div class="form-group">
                <label for="purpose">purpose</label>
                <input type="text" id="purpose" name="purpose" placeholder="purpose of journey">
            </div>
        </td>
    </tr>
    
</table>
<br>
<h6>Summary of the claim submitted</h6>
<table> 
    <tr>
        <td>
            1.
        </td>
        <td>
            Total travel cost
        </td>  
        <td>
            <div class="form-group">
                <input type="number" id="travel_cost" name="travel_cost" placeholder="Total Travel Cost">
            </div>
        </td>
    </tr> 
     <tr>
        <td>
            2.
        </td>
        <td>
            Road Kms
        </td>
        <td>
            <div class="form-group">
                <input type="number" id="road_kms" name="road_kms" placeholder="Road in kms">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            3.
        </td>
        <td>
            DA for the No. of days, hospitality availed
        </td>
        <td>
            <div class="form-group">
                <input type="number" id="hospitality_availed" name="hospitality_availed" >
            </div>
        </td>
    </tr>
    <tr>
        <td>
            4.
        </td>
        <td>
            DA for the No. of days, hospitality not availed
        </td>
        <td>
            <div class="form-group">
                <input type="number" id="hospitality_not_availed" name="hospitality_not_availed" >
            </div>
        </td>
    </tr>
    <tr>
        <td>
            5.
        </td>
        <td>
            other expenses
        </td>
        <td>
            <div class="form-group">
                <input type="number" id="expenses" name="expenses" placeholder="other Expenses">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            6.
        </td>
        <td>
            Grand total
        </td>
        <td>
            <div class="form-group">
                <input type="number" id="total" name="total" placeholder="Grand Total">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            7.
        </td>
        <td>
            Less Advance
        </td>
        <td>
            <div class="form-group">
                <input type="number" id="less_advance" name="less_advance" placeholder="Less Advance">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            8.
        </td>
        <td>
            Net claim: Payable/Refundable
        </td>
        <td>
            <div class="form-group">
                <input type="number" id="net" name="net" placeholder="Net Claim">
            </div>
        </td>
    </tr>
</table> 
<br>

</form>
<br>
<h6>Details of Family Members(in case of LTC or Home town concession)</h6>
<br>
<table>
    <tr>
        <th>
            SI. No.
        </th>
        <th>
            Name
        </th>
        <th>
            Date of Birth
        </th>
        <th>
            Age
        </th>
        <th>
            Relationship
        </th>
    </tr>
    <tr>
        <td>
            1.
        </td>
        <td>
            <input type="text" id="name1" name="name1" placeholder="Enter your name">
        </td>
        <td>
            <input type="date" id="date1" name="date1" placeholder="Enter Date of Birth">
        </td>
        <td>
            <input type="number" id="age1" name="age1" placeholder="Enter your age">
        </td>
        <td>
            <input type="text" id="rel1" name="rel1" placeholder="Relationship">
        </td>
    </tr>
    <tr>
        <td>
            2.
        </td>
        <td>
            <input type="text" id="name2" name="name2" placeholder="Enter your name">
        </td>
        <td>
            <input type="date" id="date2" name="date2" placeholder="Enter Date of Birth">
        </td>
        <td>
            <input type="number" id="age2" name="age2" placeholder="Enter your age">
        </td>
        <td>
            <input type="text" id="rel1" name="rel1" placeholder="Relationship">
        </td>
    </tr>
    <tr>
        <td>
            3.
        </td>
        <td>
            <input type="text" id="name3" name="name3" placeholder="Enter your name">
        </td>
        <td>
            <input type="date" id="date3" name="date3" placeholder="Enter Date of Birth">
        </td>
        <td>
            <input type="number" id="age3" name="age3" placeholder="Enter your age">
        </td>
        <td>
            <input type="text" id="rel1" name="rel1" placeholder="Relationship">
        </td>
    </tr>
    <tr>
        <td>
            4.
        </td>
        <td>
            <input type="text" id="name4" name="name4" placeholder="Enter your name">
        </td>
        <td>
            <input type="date" id="date4" name="date4" placeholder="Enter Date of Birth">
        </td>
        <td>
            <input type="number" id="age4" name="age4" placeholder="Enter your age">
        </td>
        <td>
            <input type="text" id="rel1" name="rel1" placeholder="Relationship">
        </td>
    </tr>
    <tr>
        <td>
            5.
        </td>
        <td>
            <input type="text" id="name5" name="name5" placeholder="Enter your name">
        </td>
        <td>
            <input type="date" id="date5" name="date5" placeholder="Enter Date of Birth">
        </td>
        <td>
            <input type="number" id="age5" name="age5" placeholder="Enter your age">
        </td>
        <td>
            <input type="text" id="rel1" name="rel1" placeholder="Relationship">
        </td>
    </tr>
</table>
<br>
<h6>
    Details of Other Actual Expenses
</h6>
<table>
    <tr>
        <th>
            SI. No.
        </th>
        <th>
            Particulars
        </th>
        <th>
            Amount(Rs.)
        </th>
        
    </tr>
    <tr>
        <td>
            1.
        </td>
        <td>
            <input type="text" id="Part1" name="Part1" >
        </td>
        <td>
            <input type="number" id="amt1" name="amt1" placeholder="Rs.">
        </td>
        
    </tr>
    <tr>
        <td>
            2.
        </td>
        <td>
            <input type="text" id="Part2" name="Part2" >
        </td>
        <td>
            <input type="number" id="amt2" name="amt2" placeholder="Rs.">
        </td>
        
    </tr>
    <tr>
        <td>
            3.
        </td>
        <td>
            <input type="text" id="Part3" name="Part3" >
        </td>
        <td>
            <input type="number" id="amt3" name="amt3" placeholder="Rs.">
        </td>
        
    </tr>
    <tr>
        <td>
            4.
        </td>
        <td>
            <input type="text" id="Part4" name="Part4" >
        </td>
        <td>
            <input type="number" id="amt4" name="amt4" placeholder="Rs.">
        </td>
        
    </tr>
    <tr>
        <td>
            5.
        </td>
        <td>
            <input type="text" id="Part5" name="Part5" >
        </td>
        <td>
            <input type="number" id="amt5" name="amt5" placeholder="Rs.">
        </td>
        
    </tr>
</table>

{% comment %} <div class="form-group"> 
    <label >Upload Documents</label>
    <input type="file" id="images" required name="images" multiple class="form-control-file">
</div> {% endcomment %}
<button type="submit">Submit</button>
</form>
{% endblock body %}