{% comment %} {% extends 'base.html' %} {% endcomment %}

{% block body %}
<div class="container">
<h4>Indian Institute of Technology, Kanpur</h4>
<h4>
    Application for Grant of LTC
</h4>
<div class="container bg-light">


<table class="table">
    <tr>
        <td>
            Block year
        </td>
        <td>
            <div class="col-mb-3">
                <input class="form-control" type="number" id="block_yr" name="block_yr" value={{app.block_yr}}>
            </div>
        </td>
        <td>
            Email
        </td>
        <td>
            <div class="col-mb-3">
                <input class="form-control" type="email" id="email" name="email" value={{app.email}}>
            </div>
        </td>
        <td>
            P.F. No. / Roll No.
        </td>
        <td>
            <div class="col-mb-3">
                <input class="form-control" type="number" id="rollno" name="rollno" value={{app.rollno}}>
            </div>
        </td>
    </tr>
</table>
<br>
<div class="col-mb-3">
    <label for="Basic Pay Rs.">Basic Pay Rs.</label>
    <input class="form-control" type="number" id="basic_pay" name="basic_pay" value={{app.basic_pay}}>
</div>
<br>
<table>
    <tr>
        <td>
            1.
        </td>
        <td>
            Name
        </td>
        <td>
            <div class="col-mb-3">
                <input class="form-control" type="text" id="Name" name="Name" value={{app.Name}}>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            2.
        </td>
        <td>
            Designation
        </td>
        <td>
            <div class="col-mb-3">
                <input class="form-control" type="text" id="Designation" name="Designation" value={{app.Designation}}>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            3.
        </td>
        <td>
            Department/Section
        </td>
        <td>
            <div class="col-mb-3">
                <input class="form-control" type="text" id="section" name="section" value={{app.section}}>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            4.
        </td>
        <td>
            (a) Whether leave is required for availing L.T.C ?
        </td>
        <td>
            <div class="col-mb-3">
                <input class="form-control" type="text" id="avail" name="avail" placeholder="Yes/No" value={{app.avail}}>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            
        </td>
        <td>
            (b)(i) If so, duration of leave applied for
        </td>
        <td>
            <div class="col-mb-3">
                <input class="form-control" type="number" id="duration" name="duration" placeholder="Duration" value={{app.duration}}>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            
        </td>
        <td>
            (b)(ii) Date of departure of family, if not availing for himself
        </td>
        <td>
            <div class="col-mb-3">
                <input class="form-control" type="text" id="departure" name="departure" placeholder="dd/mm/yyyy" value={{app.departure}}>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            
        </td>
        <td>
            (c) Nature of leave
        </td>
        <td>
            <div class="col-mb-3">
                <input class="form-control" type="text" id="nature" name="nature" placeholder="Nature" value={{app.nature}}>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            
        </td>
        <td>
            (d) Purpose
        </td>
        <td>
            <div class="col-mb-3">
                <input class="form-control" type="text" id="Purpose" name="Purpose" placeholder="Purpose" value={{app.Purpose}}>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            5.
        </td>
        <td>
            (i) Whether L.T.C is applied for going to home town or elsewhere?
        </td>
        <td>
            <div class="col-mb-3">
                <input class="form-control" type="text" id="place" name="place" placeholder="Home town/Elsewhere" value={{app.place}}>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            
        </td>
        <td>
            (ii) Place of visit
        </td>
        <td>
            <div class="col-mb-3">
                <input class="form-control" type="text" id="place1" name="place1" placeholder="Place of visit" value={{app.place1}}>
            </div>
        </td>
    </tr>
    <tr>
        <td>
           6. 
        </td>
        <td>
            Address during leave
        </td>
        <td>
            <div class="col-mb-3">
                <input class="form-control" type="text" id="address" name="address" placeholder="Address" value={{app.address}}>
            </div>
        </td>
    </tr>
    <tr>
        <td>
           7. 
        </td>
        <td>
            Mode
        </td>
        <td>
            <div class="col-mb-3">
                <input class="form-control" type="text" id="mode" name="mode" placeholder="Mode: Rail/Road/Air" value={{app.mode}}>
            </div>
        </td>
    </tr>
    <tr>
        <td>
           8. 
        </td>
        <td>
            Details of family members who will avail L.T.C            
        </td>

    </tr>
    <tr>
        <th>
            
        </th>
        <th>
            
        </th>
        <th>
            Full Name
        </th>
        <th>
            Age
        </th>
    </tr>
    <tr>
        <td>
            
        </td>
        <td>
            1.
        </td>
        <td>
            <div class="col-mb-3">
                <input class="form-control" type="name" id="Name1" name="Name1" placeholder="Put NA if none" value={{app.Name1}}>
            </div>
        </td>
        <td>
            <div class="col-mb-3">
                <input class="form-control" type="number" id="Age1" name="Age1" placeholder="Put NA if none" value={{app.Age1}}>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            
        </td>
        <td>
            2.
        </td>
        <td>
            <div class="col-mb-3">
                <input class="form-control" type="name" id="Name2" name="Name2" placeholder="Put NA if none" value={{app.Name2}}>
            </div>
        </td>
        <td>
            <div class="col-mb-3">
                <input class="form-control" type="number" id="Age2" name="Age2" placeholder="Put NA if none" value={{app.Age2}}>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            
        </td>
        <td>
            3.
        </td>
        <td>
            <div class="col-mb-3">
                <input class="form-control" type="name" id="Name3" name="Name3" placeholder="Put NA if none" value={{app.Name3}}>
            </div>
        </td>
        <td>
            <div class="col-mb-3">
                <input class="form-control" type="number" id="Age3" name="Age3" placeholder="Put NA if none" value={{app.Age3}}>
            </div>
        </td>
    </tr>
</table>
<br>
<span>
    9.
</span>
<span><strong>
     Amount of advance required 
</strong></span>
<span>
    Rs.
    <div class="col-mb-3">
        <input class="form-control" type="number" id="advance" name="advance" value={{app.advance}}>
    </div>
</span>


<br>

<div>
<form method="POST2" action="/pending">
    {% csrf_token %}
<button class="btn btn-primary" type="submit">Back</button>
</div>

</form>
</div>
</div>
{% endblock body %}



