{% extends admin|yesno:'officebase.html,base.html' %}
{% block title %}Claim Bill{% endblock title %}
{% block body %} 


<h3 style="text-align: center; padding:20px 0;">
    <b>Travelling Allowance Bill </b>
</h3>
<br>

    
        
            
<form id="form1" method="GET" action="/form" style="margin: 0 auto; width: 800px;">
    {% csrf_token %}
    <label class="form-label" for="application_pk">Enter Application ID</label>
    <input class="form-control" type="number" id="application_pk" name="application_pk" placeholder="Application ID" required>
    <div class="col-12" style="padding: 20px 0;">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div> 
</form>
            
<form id="form2" method="POST" action="/form" style="margin: 0 auto; width: 800px;">
    {% csrf_token %}
    <table>
        <tr>
            <div class="form-group mb-3" > 
                <label class="form-label" for="application_pk">Enter Application ID</label>
                <input class="form-control" type="number" id="application_pk2" name="application_pk" placeholder="Application ID" >
            </div>
        </tr>
        <tr>
            <td>
                <div class="form-group mb-3" > 
                    <label class="form-label" for="institute">Institute A/C  or  CPDA *</label>
                    <input class="form-control" type="text" id="institute" name="institute" placeholder="Enter institute A/C or CPDA" required>
                </div>
            </td>
            <td>
                <div class="form-group mb-3" > 
                    <label class="form-label" for="email">Email</label>
                    <input value="{{username.email}}" class="form-control" type="email" id="email" name="email"  placeholder="Enter your email" >
                </div>
            </td>
            <td>
                <div class="form-group mb-3" >
                    <label class="form-label" for="project_number">Project Number *</label>
                    <input class="form-control" type="number" id="project_number" name="project_number" placeholder="Enter project number" required>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group mb-3" >
                    <label class="form-label" for="name">Name</label>
                    <input value="{{username.name}}" class="form-control" type="text" id="name" name="name" placeholder="Enter your name">
                </div>
            </td>
            <td>
                <div class="form-group mb-3" >
                    <label class="form-label" for="roll_number">Roll No. / PF No.</label>
                    <input value="{{username.rollno}}" class="form-control" type="number" id="roll_number" name="roll_number" placeholder="Enter your roll number">
                </div>
            </td>
            <td>
                <div class="form-group mb-3" >
                    <label class="form-label" for="designation">Designation</label>
                    <input value="{{username.designation}}" class="form-control" type="text" id="designation" name="designation" placeholder="Your designation">
                </div>
            </td>
        </tr>
        <tr>
            
            <td>
                <div class="form-group mb-3" >
                    <label class="form-label" for="department">Department</label>
                    <input value="{{username.department}}" class="form-control" type="text" id="department" name="department" placeholder="Enter your department name">
                </div> 
            </td>
            <td>
                <div class="form-group mb-3" >
                    <label class="form-label" for="pay_band">Pay Band *</label>
                    <input class="form-control" type="number" id="pay_band" name="pay_band" placeholder="Enter your pay band" required>
                </div>
            </td>
            <td>
                <div class="form-group mb-3" >
                    <label class="form-label" for="purpose">Purpose</label>
                    <input class="form-control" type="text" id="purpose" name="purpose" placeholder="Purpose of journey">
                </div>
            </td>
        </tr>
        
    </table>
    <br>
    <h6>Summary of the claim submitted</h6>
    <table> 
        <tr>
            <td>
                1.
            </td>
            <td>
                Total travel cost *
            </td>  
            <td>
                <div class="form-group mb-3" >
                    <input class="form-control" type="number" id="travel_cost" name="travel_cost" placeholder="Total Travel Cost" required>
                </div>
            </td>
        </tr> 
        <tr>
            <td>
                2.
            </td>
            <td>
                Road KMs *
            </td>
            <td>
                <div class="form-group mb-3" >
                    <input class="form-control" type="number" id="road_kms" name="road_kms" placeholder="Distance in KMs" required>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                3.
            </td>
            <td>
                DA for no. of days, hospitality availed *
            </td>
            <td>
                <div class="form-group mb-3" >
                    <input class="form-control" type="number" id="hospitality_availed" name="hospitality_availed" required >
                </div>
            </td>
        </tr>
        <tr>
            <td>
                4.
            </td>
            <td>
                DA for no. of days, hospitality not availed *
            </td>
            <td>
                <div class="form-group mb-3" >
                    <input class="form-control" type="number" id="hospitality_not_availed" name="hospitality_not_availed" required>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                5.
            </td>
            <td>
                Other expenses
            </td>
            <td>
                <div class="form-group mb-3" >
                    <input class="form-control" type="number" id="expenses" name="expenses" placeholder="Other Expenses" >
                </div>
            </td>
        </tr>
        <tr>
            <td>
                6.
            </td>
            <td>
                Grand total *
            </td>
            <td>
                <div class="form-group mb-3" >
                    <input class="form-control" type="number" id="total" name="total" placeholder="Grand Total" required>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                7.
            </td>
            <td>
                Less Advance *
            </td>
            <td>
                <div class="form-group mb-3" >
                    <input class="form-control" type="number" id="less_advance" name="less_advance" placeholder="Less Advance" required>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                8.
            </td>
            <td>
                Net claim: Payable/Refundable *
            </td>
            <td>
                <div class="form-group mb-3" >
                    <input class="form-control" type="number" id="net" name="net" placeholder="Net Claim" required>
                </div>
            </td>
        </tr>
    </table> 
    <br>
    <div class="col-md-6">
        <label for="drivelink" class="form-label">Drive Link (with view access) *</label>
        <input type="text" class="form-control" id="drivelink" name="drivelink" placeholder="Must contain all the receipts and tickets" required>
    </div>
    <br>
    <h6>Details of Family Members(in case of LTC or Home town concession)</h6>
    <br>
    <table>
        <tr>
            <th>
                SI. No.
            </th>
            <th>
                Name
            </th>
            <th>
                Date of Birth
            </th>
            <th>
                Age
            </th>
            <th>
                Relationship
            </th>
        </tr>
        <tr>
            <td>
                1.
            </td>
            <td>
                <input class="form-control" type="text" id="name1" name="name1" placeholder="" >
            </td>
            <td>
                <input class="form-control" type="text" id="date1" name="date1" placeholder="dd/mm/yyy" >
            </td>
            <td>
                <input class="form-control" type="number" id="age1" name="age1" placeholder="" >
            </td>
            <td>
                <input class="form-control" type="text" id="rel1" name="rel1" placeholder="" >
            </td>
        </tr>
        <tr>
            <td>
                2.
            </td>
            <td>
                <input class="form-control" type="text" id="name2" name="name2" placeholder="" >
            </td>
            <td>
                <input class="form-control" type="text" id="date2" name="date2" placeholder="dd/mm/yyy" >
            </td>
            <td>
                <input class="form-control" type="number" id="age2" name="age2" placeholder="" >
            </td>
            <td>
                <input class="form-control" type="text" id="rel2" name="rel2" placeholder="" >
            </td>
        </tr>
        <tr>
            <td>
                3.
            </td>
            <td>
                <input class="form-control" type="text" id="name3" name="name3" placeholder="" >
            </td>
            <td>
                <input class="form-control" type="text" id="date3" name="date3" placeholder="dd/mm/yyy" >
            </td>
            <td>
                <input class="form-control" type="number" id="age3" name="age3" placeholder="" >
            </td>
            <td>
                <input class="form-control" type="text" id="rel3" name="rel3" placeholder="" >
            </td>
        </tr>
        <tr>
            <td>
                4.
            </td>
            <td>
                <input class="form-control" type="text" id="name4" name="name4" placeholder="" >
            </td>
            <td>
                <input class="form-control" type="text" id="date4" name="date4" placeholder="dd/mm/yyy" >
            </td>
            <td>
                <input class="form-control" type="number" id="age4" name="age4" placeholder="" >
            </td>
            <td>
                <input class="form-control" type="text" id="rel4" name="rel4" placeholder="" >
            </td>
        </tr>
        <tr>
            <td>
                5.
            </td>
            <td>
                <input class="form-control" type="text" id="name5" name="name5" placeholder="" >
            </td>
            <td>
                <input class="form-control" type="text" id="date5" name="date5" placeholder="dd/mm/yyy" >
            </td>
            <td>
                <input class="form-control" type="number" id="age5" name="age5" placeholder="" >
            </td>
            <td>
                <input class="form-control" type="text" id="rel5" name="rel5" placeholder="" >
            </td>
        </tr>
    </table>
    <br>
    <h6>
        Details of Other Actual Expenses
    </h6>
    <table>
        <tr>
            <th>
                SI. No.
            </th>
            <th>
                Particulars
            </th>
            <th>
                Amount(Rs.)
            </th>
            
        </tr>
        <tr>
            <td>
                1.
            </td>
            <td>
                <input class="form-control" type="text" id="part1" name="part1" >
            </td>
            <td>
                <input class="form-control" type="number" id="amt1" name="amt1" placeholder="Rs." >
            </td>
            
        </tr>
        <tr>
            <td>
                2.
            </td>
            <td>
                <input class="form-control" type="text" id="part2" name="part2" >
            </td>
            <td>
                <input class="form-control" type="number" id="amt2" name="amt2" placeholder="Rs." >
            </td>
            
        </tr>
        <tr>
            <td>
                3.
            </td>
            <td>
                <input class="form-control" type="text" id="part3" name="part3" >
            </td>
            <td>
                <input class="form-control" type="number" id="amt3" name="amt3" placeholder="Rs." >
            </td>
            
        </tr>
        <tr>
            <td>
                4.
            </td>
            <td>
                <input class="form-control" type="text" id="part4" name="part4"  >
            </td>
            <td>
                <input class="form-control" type="number" id="amt4" name="amt4" placeholder="Rs." >
            </td>
            
        </tr>
        <tr>
            <td>
                5.
            </td>
            <td>
                <input class="form-control" type="text" id="part5" name="part5" >
            </td>
            <td>
                <input class="form-control" type="number" id="amt5" name="amt5" placeholder="Rs." >
            </td>
            
        </tr>
    </table>

    {% comment %} <div class="form-group mb-3" > 
        <label class="form-label" >Upload Documents</label>
        <input class="form-control" type="file" id="images" required name="images" multiple class="form-control-file">
    </div> {% endcomment %}
    {% comment %} <button type="submit">Submit</button> {% endcomment %}
    {%if submit%}
    <div class="col-12" style="padding: 20px 0;">
        <button class="btn btn-primary" type="submit">{{ admin|yesno:"Update,Submit" }}</button>
    </div> 
    {%endif%}
</form>
{% endblock body %}


{% block script %}
{% if fill_form %}
    {%for key,value in fill_form.items%}
    var x=document.getElementById("{{key}}")
    if(x){
        x.value = "{{value}}";
        {% if not admin %}
        x.readOnly=true;
        {% endif %}
    }
    {%endfor%}
{% endif %}
var f1=document.getElementById("form1");
var f2=document.getElementById("form2");
{% if level == 2%}
    f1.style.display="none";
    f2.style.display="block";
{% else %}
    f2.style.display="none";
    f1.style.display="block";
{% endif %}
{% endblock script %}